body {
  font-family: "Fira Sans", sans-serif;
  background-color: #dad7cd;
}

a {
  background-color: transparent;
}

/* NAVBAR SECTION */
.navbar {
  border-bottom: solid;
}
.navbar-brand {
  font-size: 1.8rem;
  font-family: "Luxurious Roman", cursive;
  font-weight: bold;
}

.nav-link {
  font-size: 1.15rem;
  color: black;
}

.nav-item a:hover {
  border: 1px solid;
  background-color: #bcd4a4;
}

/* HOME SECTION */
.header-1 {
  padding: 7% 12% 8%;
}

.hex-hello {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 6.37rem;
  animation: 0.75s fade-in;
}

.hex-hello:hover {
  color: #437214;
}

.text-hello {
  text-align: center;
  padding-bottom: 1.25%;
}

.tagline {
  text-align: center;
  font-size: 1.15rem;
}

.email-center {
  text-align: center;
  color: black;
  font-size: 1.25rem;
}

.styled-email-button {
  color: black;
  text-decoration: none;
  border: 3px solid black;
  padding: 1.45% 2.45%;
  border-radius: 10px;
  background-color: #08470675;
}

.styled-email-button:hover {
  text-decoration: none;
  font-weight: 500;
  color: #d6fdcc;
  background-color: darkgreen;
  animation: 0.75s;
}

/* 
Profile SECTIONS */
.profile-div {
  padding: 6.3% 2.3%;
}
.profile-div h1 {
  text-align: center;
  font-size: 3.5rem;
}

.huge-header {
  font-size: 2.23rem;
}

.profile-row {
  padding-top: 4%;
}

.profile-questions {
  font-weight: bold;
  font-size: 1.15rem;
}
.respondents {
  font-weight: 700;
}

/* TIMELINE */
.timeline-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
/* 
PROJECTS */
.projects-div {
  padding: 3.5% 5%;
}

.projects-h1 {
  font-size: 3.25rem;
  text-align: center;
}

.project-title {
  color: #2c4e2c;
  padding-bottom: 1.11%;
}

.push-down {
  padding-top: 2.35%;
}

.second-row {
  padding-top: 3%;
}

.icon-interface {
  color: black;
  font-size: 1.5rem;
  padding: 0 0.5%;
}

/* FOOTER */
footer {
  padding: 5% 7%;
}

footer h1 {
  font-size: 2.5rem;
  text-align: center;
}

footer p {
  text-align: center;
}

.social-icons {
  padding: 3% 0;
  text-align: center;
}

.bottom-text {
  font-size: 0.75rem;
}
/* MEDIA QUERIES */
@media (max-width: 1020px) {
  .hex-hello {
    font-size: 8.25rem;
  }
}

/* PHONE SCREENS */
@media (max-width: 655px) {
  .hex-hello {
    font-size: 2.25rem;
  }
  .text-hello {
    font-size: 1rem;
  }
  .tagline {
    font-size: 0.85rem;
  }
  .email-center {
    font-size: 1rem;
  }
  .profile-div h1 {
    font-size: 2.75rem;
  }
  .aboutmeheader {
    font-size: 1.65rem;
  }
  .profile-div,
  .projects-div {
    background-color: #bcd4a4;
  }
  .timeline-img {
    width: 80%;
  }
  .projects-h1 {
    font-size: 2.25rem;
  }

  .profile-div,
  .projects-div,
  .skills,
  .hello {
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
}
